.thumbnail {
  background: #f9b713;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.2),
    0 6px 20px 0 rgba(252, 251, 251, 0.19);
}

.aboutContainer {
  margin-left: 8px;
  margin-right: 8px;
  flex-wrap: wrap;
}

.aboutH1 {
  font-family: "Karla", sans-serif;
  color: white;
  /* font-family: 'Raleway', sans-serif; */
}

.aboutP {
  font-family: "Karla", sans-serif;
  color: white;
  margin-top: 20px;
}
